
  header .headline {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    min-height: 10vh;
    box-sizing: border-box;
  }

  
  /*ヘッダーまわりはご自由に*/
header {
    padding:15px;
    background:yellow;
  }

  
  #nav-drawer {
    position: relative;
  }
  
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }
  
  /*アイコンのスペース*/
  #nav-open {
      display: inline-block;
      width: 30px;
      height: 22px;
      vertical-align: middle;
  }
  
  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
      position: absolute;
      right: 0;
      height: 3px;/*線の太さ*/
      width: 25px;/*長さ*/
      border-radius: 3px;
      background: #555;
      display: block;
      content: '';
      cursor: pointer;
  }
  #nav-open span:before {
      bottom: -8px;
  }
  #nav-open span:after {
      bottom: -16px;
  }
  
  /*閉じる用の薄黒カバー*/
  #nav-close {
      display: none;/*はじめは隠しておく*/
      position: fixed;
      z-index: 99;
      top: 0;/*全体に広がるように*/
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: .3s ease-in-out;
  }
  
  /*中身*/
  #nav-content {
      overflow: auto;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 9999;/*最前面に*/
      width: 90%;/*右側に隙間を作る*/
      max-width: 30%;/*最大幅*/
      height: 100%;
      background:rgb(255, 208, 0);/*背景色*/
      transition: .3s ease-in-out;/*滑らかに表示*/
      -webkit-transform: translateX(105%);
      transform: translateX(105%);/*左に隠しておく*/
  }
  
  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
      display: block;/*カバーを表示*/
      opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);/*中身を表示*/
      box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }

  #nav-content p{
      padding-bottom: 15px;
      color: white;
      text-align: center;
      border-bottom:solid 1px white;

  }

  h1 {
    text-align: center;
  }


 p {
   text-align: center;
   font-size: 200%;
 }

 .menu_font {
  text-align: center;
  font-size: 100%;
}

.yes_no_btn {
  display:flex;
  justify-content: center;
}

.action_btn {
  display:flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.action_btn li{
  flex: auto;
  width: 40%;
  margin: 20px 10px;
}

.waves-effect waves-light btn {
  width: 100px;
}
    
  footer {
    width: 100%;
    height: 40px; 
    text-align: center;
    padding: 10px 0;
    background-color: yellow;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
  }